{%  extends "hm.html"%}
{% block content %}
<div class="input-group mt-4 text-right ">
    <div class="col ">
        <h2 style="color:black;text-align:center;" >  Stuff to remember </h2>
        <form  method="POST" >
            <input type="text" name="content" class="form-control mb-5"
                   placeholder="add items..">
            <button   class="btn btn-outline-secondary  mb-5 " type="ADD">Add new <item></item></button>
            {% csrf_token %}
        </form>

    </div>

</div>
</div>


<div class="d-flex">
    <div class="col">
        <ul class="justify-content-center">
            {%for i in all_items%}

            <li class="list-group-item ">{{i.text}}
                <div class="float-right">
                    <form action="delet_item/{{i.id}}/" method="post">
                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
